<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Lista de Fornecedores')}"></head>

<body>
<h1 class="text-center p-4">Lista de Fornecedores</h1>
<div class="container mt-4">
    <a th:replace="~{products/fragments_products :: register('/products/new', 'Fornecedor')}"></a>

    <nav th:replace="~{fragments :: header}"></nav>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cnpj</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}">ID PRODUCT</td>
            <td th:text="${product.name}">Name Product</td>
            <td th:text="${product.price}">Price Product</td>
            <td th:text="${product.quantity}">Quantity Product</td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.cod}">Code Product</td>
            <td th:text="${product.statusProduct}">Status Product</td>
            <td th:text="${product.supplier.name}">Supplier Name</td>
            <td th:text="${product.supplier.email}">Supplier Email</td>
            <td th:text="${product.supplier.phone}">Supplier Phone</td>
            <td>
                <button class="btn btn-success btn-sm"><i class="bi bi-eye"></i></button>
                <button class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
