<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Lista de Fornecedores')}"></head>
<link rel="stylesheet" href="/css/styles.css">
<body>

<h1 class="text-center p-4">Lista de Fornecedores</h1>
<div class="container-fluid mt-4">
    <a th:replace="~{products/fragments_products :: register('/provider/new', 'Fornecedor')}"></a>

    <div  th:replace="~{products/fragments_products :: alert}"></div>

    <nav th:replace="~{fragments :: header}"></nav>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cnpj</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="providers : ${providers}">
            <td th:text="${providers.getId()}">ID PROVIDER</td>
            <td th:text="${providers.name}">NAME PROVIDER</td>
            <td th:text="${providers.address}">ADDRESS PROVIDER</td>
            <td th:text="${providers.cnpj}">CNPJ PROVIDER</td>
            <td th:text="${providers.email}">EMAIL</td>
            <td th:text="${providers.phone}">PHONE PROVIDER</td>
            <td>
                <button class="btn btn-success btn-sm"><i class="bi bi-eye"></i></button>
                <button class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
